// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.notice {
  display: block;
}

.alert {
  display: block;
}

.nav-wrapper a {
}

.brand-logo {
  margin-left: 0.5em;
}

.logo-bear {
  color: #EFA833;
  float: left;
}

.logo-park {
  float:left;
}
